# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

TCPKeepAlive=yes
# Client每隔 60 秒发送一次请求给 Server，然后 Server响应，从而保持连接
ServerAliveInterval 60
# Client发出请求后，服务器端没有响应得次数达到3，就自动断开连接，正常情况下，Server 不会不响应
ServerAliveCountMax 10

HostKeyAlgorithms +ssh-rsa
PubkeyAcceptedKeyTypes +ssh-rsa
Host *
    PubkeyAcceptedKeyTypes +ssh-rsa
    HostKeyAlgorithms +ssh-rsa

Host dr02
  HostName 10.4.45.166
  Port 2223
  User root
  IdentityFile ~/.ssh/id_rsa

Host dr02-sr
  HostName 10.4.45.166
  Port 2224
  User root
  IdentityFile ~/.ssh/id_rsa

Host dr05
  HostName 10.4.45.134
  User root
  Port 2223
  IdentityFile ~/.ssh/id_rsa

Host dr03
  HostName 10.4.44.52
  User root
  Port 2333
  IdentityFile ~/.ssh/id_rsa

Host dr04
  HostName 10.4.44.172
  User root
  Port 2230
  IdentityFile ~/.ssh/id_rsa

Host redck-k8s-1
  HostName 10.4.64.142
  User root
  Port 2222
  IdentityFile ~/.ssh/id_rsa

Host redck-k8s-1-sr-2.5
  HostName 10.4.64.142
  User root
  Port 2223
  IdentityFile ~/.ssh/id_rsa

Host redck-k8s-1-sr-3.3
  HostName 10.4.64.142
  User root
  Port 2225
  IdentityFile ~/.ssh/id_rsa

Host redck-k8s-1-sr-3.4
  HostName 10.4.64.142
  User root
  Port 2226
  IdentityFile ~/.ssh/id_rsa

Host redck-k8s-1-doris-3.0
  HostName 10.4.64.142
  User root
  Port 2227
  IdentityFile ~/.ssh/id_rsa

Host redck-k8s-1-sr-3.5
  HostName 10.4.64.142
  User root
  Port 2028
  IdentityFile ~/.ssh/id_rsa

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa_myself
  IdentitiesOnly yes

Host qsh5-sr-dev-ax4fi-5
  HostName 10.4.65.79
  User root
  Port 22
  IdentityFile ~/.ssh/starrocks-dev
  IdentitiesOnly yes
